/*pin {*/
  /*max-width: 400px;*/
  /*!*display: inline-block;*!*/
  /*margin: 10px;*/
/*}*/

.grid-item {
  max-width: 300px;
  /*height: 120px;*/
  float: left;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  /*border-color: hsla(0, 0%, 0%, 0.5);*/
  /*border-radius: 5px;*/
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.panel {
  margin-bottom: 0;
}
