<success ng-if="message.type == 'success'">Success: {{message.text}}</success>
<danger ng-if="message.type == 'danger'">Error: {{message.text}}</danger>
<form ng-submit="create()">
  <div class="form-group">
    <label for="title">Title</label>
    <input ng-model="title" ng-change="message = null" class="form-control" type="text" placeholder="Title" id="title">
  </div>
  <div class="form-group">
    <label for="url">Image URL</label>
    <input ng-model="url" ng-change="message = null" class="form-control" type="url" placeholder="http://www.website.com/some-image.png" id="url">
  </div>
  <div class="form-group"><button class="btn btn-success" type="submit">Submit</button></div>
  <img class="img-responsive center-block" ng-src="{{url}}">
</form>
