<img onerror="imgError(this)" style="width: 100%;" ng-src="{{pin.url}}" alt="">
<div class="panel panel-default">
  <div class="panel-body">{{pin.title}}</div>
  <div class="panel-footer">
    <a ng-hide="isAdmin()" ng-href="/user/{{pin.createdUser.uid}}">{{pin.createdUser.name}}</a>
    <button ng-click="destroy(pin)" ng-show="isAdmin()" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
  </div>
</div>
