<success ng-if="message.type == 'success'">Success: {{message.text}}</success>
<danger ng-if="message.type == 'danger'">Error: {{message.text}}</danger>
<div class="grid">
    <pin ng-repeat="pin in pins" class="grid-item"></pin>
</div>
