<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span></button>
      <a href="/" class="navbar-brand">Pinterestly</a>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}"><a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li ng-hide="Session.getCurrentUser()" ng-class="{active: isActive(&quot;/login&quot;)}"><a href="/login">Login</a> </li>-->
        <input ng-hide="Session.getCurrentUser()" ng-click="Auth.login()" class="navbar-btn" type="image" src="images/sign-in-with-twitter-gray.png" style="padding-top:8px;">
        <li ng-show="Session.getCurrentUser()" ng-class="{active: isActive('/create/pin')}"><a href="/create/pin"><span class="glyphicon glyphicon-plus"></span> &nbsp;Pin</a></li>
        <li ng-show="Session.getCurrentUser()" ng-class="{active: isActive('/settings')}"><a ng-href="/user/{{Session.getCurrentUser().uid}}"><span class="glyphicon glyphicon-user"></span></a></li>
        <li ng-show="Session.getCurrentUser()" ><a ng-click="Auth.logout()" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
